&app {
    & {
        width   : 100%;
        height  : 100%;
        position: relative;
        z-index: 800;
        // background-color: $app-background-color;
        overflow: hidden;
        @include sidebar-close-app-state;
    }
    .#{$namespace}sidebar-open & {
        @include sidebar-open-app-state;
    }
    .mobile & {
        position: absolute;
        top     : 0;
        left    : 0;
    }
    .desktop & {
        width   : $app-desktop-maxWidth;
        margin  : auto;
        border  : 1px solid #888;
        position: relative;
    }
}
