&button{
    &{
        padding: 0.6em 1.2em;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        position: relative;
        overflow: hidden;
        transform: translateZ(0);
        border-radius: 10px;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
    }


    &[type=primary]{
        color: #fff;
        background-color: $component-color;

        &:not([disabled]){
            @at-root .desktop &:hover{
                background-color: darken($component-color,5%)
            }
            &:active{
                background-color: darken($component-color,5%)
            }
        }
        .loading{
            border-left-color: #fff;
        }

    }
    &[type=default],&[type=ghost],&[type=dashed]{
        // @include mx-1px($border-color-base);

        color: $font-color-base;
        transition: all 200ms ease;

        .loading{
            border-left-color: $component-color;
        }

        &:not([disabled]){
            @at-root .desktop &:hover{
                // @include mx-1px($component-color);
                border-color: $component-color;
                background-color: lighten(#f7f7f7,5%);
                color: $component-color;
                transition: all 200ms ease;
            }
            &.mx-button-loading{
                // @include mx-1px($component-color);
                border-color: $component-color;
                background-color: lighten(#f7f7f7,5%);
                color: $component-color;
                transition: all 200ms ease;
            }
            &:active{
                // @include mx-1px($component-color);
                border-color: $component-color;
                background-color: lighten(#f7f7f7,5%);
                color: $component-color;
                transition: all 200ms ease;
            }
        }
    }

    &[type=default]{
        background-color: #f7f7f7;
        border:1px solid $border-color-base;
    }
    &[type=ghost]{
        background-color: #fff;
        border:1px solid $border-color-base;
    }
    &[type=dashed]{
        background-color: #fff;
        border:1px dashed $border-color-base;
    }

    &[disabled]{
        cursor: not-allowed ;
        color: $font-color-disable ;
        background-color: #f7f7f7;
    }
    &-blocked{
        display: block;
    }
    &-rounded{
        border-radius: 9999px;
        &::before{
            border-radius: 9999px !important;
        }
    }
    &-radius{
        border-radius: 10px;
    }
    &-loading-icon{
        display: inline-block;
        vertical-align: middle;
        width: 0;
        height: 0;
        transition: width 200ms ease,height 200ms ease;
        &.loading{
            width:1.2em;
            height: 1.2em;
            margin-right: 0.3em;
            border-radius: 50%;
            border-width: 2px;
            border-style: solid;
            border-color: transparent;
            animation: ButtonLoading 1s infinite linear;
        }
    }

    @keyframes ButtonLoading{
        0%{
            transform: rotate(0);
        }
        100%{
            transform: rotate(360deg)
        }
    }
}
