&webviews{
    width: 100%;
    height:100%;
}
&webview{
    &{
        @include webview-animate-current-state;

        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling:touch;
        position: absolute;
        // top: 0;
        // left: 0;
        visibility: hidden;
        background-color: $webview-background-color;
        z-index: 900;
        display: none;
        &.moving{
            display: block;
        }
    }

    &-forward{
        &.drown{
            @include webview-animate-forward-state('drown');
        }
        &.slide{
            @include webview-animate-forward-state("slide");
        }
        &.fade{
            @include webview-animate-forward-state("fade");
        }
        &.scale{
            @include webview-animate-forward-state("scale");
        }
    }
    &-backward{

        &.drown{
            @include webview-animate-backward-state('drown');
        }
        &.slide{
            @include webview-animate-backward-state('slide');
        }
        &.fade{
            @include webview-animate-backward-state('fade');
        }
        &.scale{
            @include webview-animate-backward-state('scale');
        }

    }

    &.active{
        z-index: 1000;
        visibility: visible;
        display: block;
    }
}
